{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint",
        "prettier-standard"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "no-var": "error",
        "prefer-const": "warn",
        "@typescript-eslint/no-unused-vars": "error"
    },
    "globals": {
        "trace": true
    }
}